body {
  background-image: linear-gradient(gray, blue);
  background-repeat: no-repeat;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: whitesmoke;
}

.header {
  grid-area: "header";
  background: gray;
  padding: 1em;
}
.intro {
  grid-area: "intro";
  border: 1px solid darkgray;
  color: darkgray;
}
.skill {
  grid-area: "skill";
  border: 1px solid darkgray;
  color: darkgray;
  padding: 0.5em;
}
.education {
  grid-area: "education";
  border: 1px solid darkgray;
  color: darkgray;
  padding: 0.5em;
}
.specialty {
  grid-area: "specialty";
  border: 1px solid darkgray;
  color: darkgray;
  padding: 0.5em;
}
.container {
  display: grid;
  grid-template-areas:
    "header header"
    "intro education"
    "specialty education"
    "skill skill";
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5pt;
  margin: 10%;
  padding: 5pt;
  background: white;
}
img {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
}
