body {
  background-image: linear-gradient(gray, blue);
  background-repeat: no-repeat;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: whitesmoke;
}
img {
  width: 80%;
  max-width: 200px;
  margin: auto;
  height: auto;
  border-radius: 50%;
  border: 0.5em solid white;
}
h3 {
  color: rgb(116, 116, 255);
}
.header {
  grid-area: header;
  background: gray;
  padding: 1em;
  border-radius: 0.5em;
}
.intro {
  grid-area: intro;
  border: 1px solid darkgray;
  color: gray;
  padding: 0.5em;
  border-radius: 0.5em;
  text-align: justify;
}
.skill {
  grid-area: skill;
  border: 1px solid darkgray;
  color: gray;
  padding: 0.5em;
  border-radius: 0.5em;
}
.education {
  grid-area: education;
  border: 1px solid darkgray;
  color: gray;
  padding: 0.5em;
  border-radius: 0.5em;
}
.specialty {
  grid-area: specialty;
  border: 1px solid darkgray;
  color: gray;
  padding: 0.5em;
  border-radius: 0.5em;
  text-align: center;
}
.container {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "header header"
    "intro education"
    "specialty education"
    "skill skill";
  grid-gap: 5pt;
  margin: 10%;
  padding: 5pt;
  background: white;
  border-radius: 0.5em;
}
.nested {
  text-align: center;
}
.profile {
  grid-area: profile;
}
.info {
  grid-area: info;
}
.small {
  max-width: 50px;
  margin: auto;
  height: auto;
  border-radius: 0;
}

@media only screen and (min-width: 600px) {
  .nested {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 2fr 4fr;
    grid-template-areas: "profile info";
  }
}
